/*========== NavBar ==========*/

.navbar {
    box-shadow: 0px 6px 60px rgba(22, 28, 51, 0.06);
    padding: 24px 0;
}

.nav__active {
    width: 70%;
    border-bottom: solid 4px var(--primary-color);
}

.nav-link {
    font-weight: 400;
    color: var(--title-color);
}

@media (max-width: 576px) {
    .navbar__button {
        text-align: center;
    }

    .text__center {
        text-align: center;
        margin-top: 20px;
    }
}


/*========== Hero Section ==========*/

.carousel-item {
    height: 100vh;
    min-height: 350px;
    background: no-repeat center center scroll;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    transition: transform 2s ease, opacity .5s ease-out
}

.hero__heading {
    margin-top: 200px;
    margin-bottom: 80px;
}

.hero__title {
    color: #fff;
    font-weight: var(--font-bold);
    font-size: var(--h1-font-size);
    line-height: 88px;
}


@media (max-width: 576px) {
    .hero__title {
        font-size: var(--h2-font-size);
        line-height: 64px;
    }
}

/*========== End Hero Section ==========*/

/*========== Trending Section ==========*/

.trending__heading {
    margin-bottom: 50px;
}

.trending__title {
    font-size: var(--h2-font-size);
}

.product__img {
    margin-bottom: 30px;
}

.product__image {
    object-fit: cover;
    height: 416px;
    border-radius: 8px;
}

.product__name {
    font-size: var(--h3-font-size);
}

.product__desc {
    color: var(--body-color);
}

.product__detail {
    margin-bottom: 40px;
}

.cart-action {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.product__price {
    padding-right: 12px;
    color: var(--primary-color);
}


@media (max-width: 576px) {
    .trending__title {
        font-size: var(--h3-font-size);
    }

    .product__name {
        font-size: var(--h4-font-size);
    }

    .swipe {
        overflow: hidden;
        visibility: hidden;
        position: relative;
    }

    .swipe-wrap {
        overflow: hidden;
        position: relative;
    }

    .swipe-wrap>div {
        float: left;
        width: 100%;
        position: relative;
    }
}

/*========== End Trending Section ==========*/


/*========== Data Section ==========*/

.data__statistik {
    border-bottom: solid 3px var(--title-color);
}

.data__total {
    font-size: var(--h2-font-size);
    font-weight: var(--font-bold);
}

.data__name {
    font-size: var(--h4-font-size);
    color: var(--body-color);
}

@media (max-width: 576px) {
    .data__total {
        font-size: var(--h3-font-size);
        font-weight: var(--font-bold);
    }

    .data__name {
        font-size: var(--h5-font-size);
        color: var(--title-color);
    }
}


/*========== End Data Section ==========*/

/*========== Categories Section ==========*/

.categories__image {
    object-fit: cover;
    border-radius: 8px;
    height: 636px;
    background-position: center top;
    position: relative;
}

.categories__action {
    position: absolute;
    bottom: 0;
    padding: 92px 200px 56px 32px;
    background: linear-gradient(0deg, #393448 -13.25%, rgba(57, 52, 72, 0) 96.68%);
    border-radius: 8px;
}

.categories__detail {
    color: var(--white-color);
}

.categories__name {
    color: var(--white-color);
}


@media (max-width: 576px) {
    .categories__action {
        padding: 92px 100px 56px 32px;
    }
}

/*========== End Categories Section ==========*/


/*========== CTA Section ==========*/

.cta__card {
    object-fit: cover;
    border-radius: 8px;
    height: 433px;
    background-position: center top;
    position: relative;
}

.cta__name {
    width: 364px;
    line-height: 64px;
    color: var(--white-color);
    font-size: var(--h2-font-size);
}

.cta__title {
    position: relative;
    left: 8%;
    top: 18%;
}

@media (max-width: 576px) {

    .cta__card {
        background-position: center top;
        padding: 16px;
    }

    .cta__title {
       max-width: 50%;
       left: 6%;
       top: 10%;
    }

    .cta__name {
        width: auto;      
        font-size: var(--h3-font-size);
        line-height: 48px;
    }
}

/*========== End CTA Section ==========*/

.footer__section{
    background-color: var(--title-color);
    padding: 120px 0;
}

.menu__name{
    color: var(--white-color);
    font-size: var(--h4-font-size);
    margin-bottom: 36px;
}

.menu__links{
    display: flex;
    flex-direction: column;
}

.menu__link{
    color: var(--white-color);
    font-size: var(--h5-font-size);
    font-weight: var(--font-regular);
}

.menu__detail{
    color: var(--white-color);
}

.footer__product{
    width: 42px;
}

@media (max-width: 576px) {

    .center__footer{
        text-align: center;
    }

    .footer__section{
        background-color: var(--title-color);
        padding: 54px 0 120px 0;
    }
}